.checkout {
  padding: 20px;
  background-color: white;
  height: max-content;

  &__block {
    display: flex;
    flex-wrap: wrap;
  }

  &__left {
    width: 60%;

    img {
      width: 100%;
      height: 70px;
      margin-bottom: 1rem;
      padding-right: 1rem;
    }
  }

  &__title {
    padding: 10px;
    border-bottom: 1px solid lightgray;
    font-size: 32px;
    font-weight: 700;
  }

  &__right {
    width: 30%;

    h2 {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 768px) {
  .checkout {
    padding: 10px;

    &__left {
      img {
        width: 100%;
        height: 40px;
      }
    }

    &__title {
      font-size: 22px;
    }
  }
}

@media (max-width: 612px) {
  .checkout {
    &__title {
      font-size: 18px;
    }

    &__right {
      width: 30%;

      h2 {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 482px) {
  .checkout {

    &__block {
      display: flex;
      flex-direction: column;
    }

    &__title {
      padding: 10px 10px 10px 0px;
      font-size: 22px;
    }

    &__left {
      width: 100%;
    }
    &__right {
      margin-top: 1rem;
      width: 100%;

      h2 {
        font-size: 18px;
      }
    }
  }
}
