.home {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  &__image {
    width: 100%;
    height: 70vh;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  &__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 768px) {
  .home {
    display: flex;
    justify-content: center;

    &__image {
      height: 70vh;
      margin-bottom: -100px;
    }

    &__row {
      flex-direction: column;
    }
  }
}

@media (max-width: 612px) {
  .home__image {
    height: 50vh;
    margin-bottom: -80px;
  }
}


@media (max-width: 482px) {
  .home__image {
    height: 40vh;
    margin-bottom: -70px;
  }
}
