.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    margin-top: 3rem;
    margin-bottom: 20px;
    object-fit: contain;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
  }

  &__container {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;

    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    form {
      h5 {
        margin-bottom: 5px;
        font-size: 17px;
      }

      input {
        height: 50px;
        margin-bottom: 10px;
        background-color: white;
        border: 2px solid black;
        padding: 10px 10px;
        width: 100%;
        font-size: 18px;
      }
    }

    p {
      margin-top: 15px;
      font-size: 12px;
    }
  }

  &__signInButton {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    border: 1px solid;
    padding: 10px 10px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    font-size: 18px;
    font-weight: 500;
  }

  &__registerButton {
    border-radius: 2px;
    width: 100%;
    padding: 10px 10px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
    font-size: 15px;
  }
}

@media (max-width: 1096px) {
  .login {
    &__container {
      h2 {
        font-size: 26px;
      }

      form {
        h5 {
          margin-bottom: 5px;
          font-size: 17px;
        }

        input {
          height: 40px;
        }
      }

      p {
        margin-top: 15px;
        font-size: 10px;
      }
    }

    &__signInButton {
      padding: 8px 10px;
    }

    &__registerButton {
      padding: 8px 10px;
    }
  }
}

@media (max-width: 796px) {
  .login {
    &__container {
      width: 60%;
    }
  }
}

@media (max-width: 612px) {
  .login {
    &__container {
      width: 70%;
    }
  }
}

@media (max-width: 482px) {
  .login {
    &__logo {
      width: 100px;
    }

    &__container {
      width: 70%;

      h2 {
        font-size: 20px;
      }

      form {
        input {
          height: 30px;
        }
        h5 {
          font-size: 12px;
        }
      }
    }

    &__signInButton {
      padding: 8px 10px;
      font-size: 14px;
    }
    &__registerButton {
      padding: 8px 10px;
      font-size: 14px;
    }
  }
}
